a {
  text-decoration: none;
  font-family: $age;
}

.button-wrapper {
  width: 100%;

  @include flexbox();
}

.circle-button {
  width: 100%;
  border-radius: 50%;
  position: relative;
  padding: 50%;

  @include transition(400ms all $cubic);

  .inner-circle,
  svg {
    pointer-events: none;

    @include transition(400ms all $cubic);
  }

  .inner-circle,
    svg {
      pointer-events: none;
    }
  
  .inner-circle {
    width: 70%;
    border-radius: 50%;
    position: absolute;
    padding: 38%;

    .text {
      font-size: 1em;
      line-height: 1.3125em;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      // margin: auto;
      text-align: center;
      padding: 0 14%;
    }
  }

  &.orange:hover {
    box-shadow: 0 20px 60px 0 rgba(150, 150, 150, 0.15);
    background: $color-orange-hover;
  
    .inner-circle {
      box-shadow: none;
      background: $color-orange;
    }
  }

  &.video-button-2 {
    width: 100%;
    height: 100%;
    padding: 50%;
    position: relative;

    .inner-circle-2,
    .animate-text,
    span,
    svg {
      pointer-events: none;
    }

    .inner-circle-2 {
      position: absolute;
      width: 80%;
      border-radius: 50%;
      height: 80%;
      padding: 0%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      margin: auto;

      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      .animate-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        

        svg {
          width: 100%;
          height: 100%;
          position: relative;
          animation: rotateElement 5s linear infinite;
        }
      }
    }

    &:hover {
      background: $color-orange-hover;
      box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.4);

      svg polygon,
      svg path {
        fill: $color-white;
      }
    }
  }

  &.video-button {
    padding: 78%;
 
    .inner-circle {
      padding-bottom: 37%;

      svg {
        position: absolute;
        width: 100%;
        max-width: 24px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
      }
    }

    &.white:hover {
      box-shadow: 0 20px 60px 0 rgba(150, 150, 150, 0.15);
      background: $color-orange-hover;
    
      .inner-circle {
        background: $color-orange;
        box-shadow: none;

        svg polygon {
          fill: $color-white;
        }
      }
    }
  }
}

@keyframes rotateElement {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(360deg));
  }

  // 100% {
  //   @include transform(rotate(0deg));
  // }
}

// Colors and Shadows
.regular-button,
.circle-button,
.circle-button.video-button {
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.35);

  .inner-wrapper,
  .inner-circle {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15);
  }

  &.orange {
    background: $color-orange;

    .inner-wrapper,
    .inner-circle {
      background: $color-orange;
    }

    .text {
      color: $color-white;
    }

    &:hover {
      background: $color-orange-hover;
      box-shadow: 0 20px 60px 0 rgba(150, 150, 150, 0.15);

      .inner-wrapper,
      .inner-circle {
        box-shadow: none;
      }
    }
  }

  &.white {
    background: $color-white;

    .inner-wrapper,
    .inner-circle {
      background: $color-white;
    }
  }
}

.button-wrapper .regular-button.orange:hover .inner-wrapper {
  background: $color-orange-hover;
}

.circle-button,
.circle-button .inner-circle,
.circle-button .inner-circle .text {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

// Regular button
.regular-button {
  padding: 10px;
  overflow: hidden;

  @include transition(400ms all $cubic);

  .inner-wrapper {
    padding: 17.5px 62px;
    transform-origin: center;

    @include transition(400ms all $cubic);
  }

  .text {
    font-family: $age;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 700;
  }
}

.regular-button,
.regular-button .inner-wrapper {
  border-radius: 40px;
}

.arrow-button {
  h3 {
    color: $color-dark;
    font-weight: 500;
    font-size: 3.15vw;
  }

  h3,
  svg {
    @include transition(400ms all $cubic);
  }

  &:hover {
    h3 {
      color: $color-orange;
    }

    svg {
      @include transform(translate(20px, 0));
    }
  }
}

.double-line-hover {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: $color-dark;

  &::before,
  &::after {
    position: absolute;
    content: "";
    background: $color-dark;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    right: 0;
    transition-timing-function: $cubic;
    transition-duration: 400ms;
  }

  &::before {
    transition-delay: 200ms;
  }

  &::after {
    transition-delay: 0ms;

    @include transform(translate(-101%, 0));
  }

  &:hover {
    &::before {
      transition-delay: 0ms;

      @include transform(translate(101% ,0));
    }
  
    &::after {
      transition-delay: 200ms;

      @include transform(translate(0,0));
    }
  }
}

.single-line-hover {
  position: relative;
  color: $color-dark;

  @include inline-flex();

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    background: $color-dark;
    transform-origin: right;
    bottom: -3px;

    @include transition(transform 0.4s $cubic);
    @include transform(scaleX(0));
  }

  &:hover::before {
    transform-origin: left;

    @include transform(scaleX(1));
  }

  &.white {
    &::before {
      background: $color-white;
    }
  }
}

.back-button {
  padding: 30px;

  @include inline-flex();

  svg {
    pointer-events: none;
    position: relative;

    @include transition(400ms all $cubic);
  }

  &:hover svg {
    @include transform(rotate(90deg));
  }
}

.double-inline-hover {
  display: inline-block;
  position: relative;
  color: $color-dark;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;

  &::before,
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: $color-dark;
    left: 0;
    right: 0;
    bottom: 0;
    transition-timing-function: $cubic;
    transition-duration: 400ms;
    // transform-origin: left;
  }

  &::after {
    transform-origin: left;
    transition-delay: 0ms;

    @include transform(scaleX(0));
  }

  &::before {
    transition-delay: 200ms;
    transform-origin: right;
  }

  &:hover {
    &::before {
      transition-delay: 0ms;
      

      @include transform(scaleX(0));
    }
  
    &::after {
      transition-delay: 200ms;

      @include transform(scaleX(1));
    }
  }
}

@media screen and (max-width: 1024px) {
  #about-section-one .about-hero-image .button-wrapper {
    max-width: 124px;
  }
}

@media screen and (max-width: 768px) {
  .button-wrapper.circle-button-wrapper {
    width: 30vw;
    height: 16vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 124px;
  }

  .circle-button.video-button {
    width: 30vw;
    height: 26vw;
    padding: 0;
    // padding: 59.5%;

    .inner-circle {
      width: 20vw;
      height: 20vw;
      padding: 0;

      svg {
        max-width: 14px;
      }
    }
  }

  .button-wrapper .regular-button .inner-wrapper {
    box-shadow: none;
  }

  .arrow-button h3 {
    font-size: 6.5vw;
  }
}