<section class="bg-dark light-text" id="home-section-one">
  <div class="absolute-background">
    <video name="media-one" autoplay loop muted>
      <source src="{{ 'loop-adjusted.mp4' | asset_url }}" type="video/mp4">
    </video>
  </div>''
  <div class="row spacing-top-lg spacing-bottom-sm">
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-9 col-sm-offset-1 col-xs-9 col-xs-offset-1">
      <p class="hero-copy">the only</p>
    </div>
    <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-9 col-xs-offset-3">
      <p class="hero-copy">gym bag</p>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-2 changing-text">
      <p class="hero-copy">that </p>
      <div class="text-wrap">
        <p class="hero-copy color-orange js-animating-text" id="changing-text-orange">powers ahead</p>
      </div>
    </div>
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12 col-xs-offset-0">
      <div class="row middle-lg middle-md middle-sm center-xs bottom-home">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
          <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/indigogo_2x_96b0af72-cc4e-4ae2-83d6-dcef37039f48.png?v=1582819328" alt="indie gogo logo">
          <p class="subtitle">Be the first to buy</p>
        </div>
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12 col-xs-offset-0">
          <div class="button-wrapper circle-button-wrapper ">
            <a href="#" class="bws-button circle-button video-button white" data-modal="demo-video">
              <div class="hover-outter"></div>
              <div class="inner-circle">
                {% include 'icon-play' %}
                <div class="hover-inner"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-12 col-xs-offset-0">
          <p class="subtitle">scroll to explore</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark light-text spacing-top-md" id="home-section-two">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <h2>A <span class="color-orange">MAGNETIC GYM BAG</span> DESIGNED BY ATHLETES, FOR ATHLETES. NOW YOU CAN FOCUS ON GAINS, NOT GEAR.</h2>
    </div>
    <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 adjust-offset">
      <div class="button-wrapper circle-button-wrapper remove-sm-below">
        <a href="/pages/get-on-the-list" target="_self" class="bws-button circle-button orange">
          <div class="inner-circle">
            <div class="text">get the bag</div>
          </div>
        </a>
      </div>
      <div class="button-wrapper show-sm-below">
        <a href="/pages/get-on-the-list" target="_self" class="regular-button orange">
          <div class="inner-wrapper">
            <span class="text">get the bag</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row spacing-top-s bg-gray-behind">
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/bag_tan-01.jpg?v=1582568898" alt="netix bag on guy">
    </div>
    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-0">
      <div class="mr-col-3 ml-col-1-xs">
        <h4>WHAT GOES WITH YOU TO THE GYM, SHOULD STAY WITH YOU AT THE GYM.</h4>
        <p>Ditch your bag in the locker room and you’re likely leaving essential gear behind. Toss it on the floor, and anything can happen.</p>
      </div>  
      <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/magnetic_bag_elliptical.jpg?v=1582568898" alt="bag magneted to an ellipitcal">
    </div>
  </div>
</section>

<section class="bg-gray spacing-bottom-md" id="home-section-three">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-1 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      {% include 'icon-quotes-orange' %}
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
      <p class="hero-copy dark-text" id="second-js-text">NETIX connects your workout</p> 
    </div>
  </div>
</section>

<section class="counter-section" id="home-section-four">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 image" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/close_up_1.jpg?v=1582568898') no-repeat center center; background-size: cover;"></div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 spacing-top-and-bottom-sm">
      <p class="count">
        <span class="current"></span>
        <span>-</span>
        <span class="total"></span>
      </p>
      <h3>RUGGED, SWEAT-RESISTANT 500D CORDURA MATERIAL</h3>
      <p>Cordura fabrics stand up to the elements--including your no-holds-barred workout. Strong, versatile and built to last, nothing is taking your Netix down--not sweat, not steam and not even a rogue barbell.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 spacing-top-and-bottom-sm">
      <p class="count">
        <span class="current"></span>
        <span>-</span>
        <span class="total"></span>
      </p>
      <h3>ULTRA STRONG NEODYMIUM MAGNETS</h3>
      <p>With Netix, your bag sticks with you for your entire workout. With rugged, sweat-resistant 500D Cordura material and neodymium magnets, Netix secures to metal fitness equipment instantly. Your gear stays with you from start to finish, ensuring you’ve always got what you need—and ensuring it stays safe and secure.</p>
    </div>
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-0 image" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/close_up_2.jpg?v=1582568898') no-repeat center center; background-size: cover;"></div>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 image" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/update_steps_image.jpg?v=1583200828') no-repeat center center; background-size: cover;"></div>
      <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 spacing-top-and-bottom-sm">
        <p class="count">
          <span class="current"></span>
          <span>-</span>
          <span class="total"></span>
        </p>
        <h3>BUILT-IN MOBILE POCKET FOR QUICK-TAP ACCESS</h3>
        <p>The big set demands the right beats. With Netix, it’s easy to stream music or video to keep you powering through while ensuring the screen never slips out of view. Netix mobile pocket is touch-sensitive, making it easy to scroll through playlists and advance videos with a quick tap.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 spacing-top-and-bottom-sm">
      <p class="count">
        <span class="current"></span>
        <span>-</span>
        <span class="total"></span>
      </p>
      <h3>STORE ALL OF YOUR STUFF</h3>
      <p>Water bottles, headphones, yoga mats, foam rollers—it's all got a place in your bag. With an oversized, flat-bottom pouch, flexible mesh siding and stow and go straps that extend and affix, everything you need is always within reach.</p>
    </div>
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-10 col-sm-offset-2 col-xs-12 col-xs-offset-0 image" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/close_up_4.jpg?v=1582568898') no-repeat center center; background-size: cover;"></div>
  </div>
</section>

<section class="bg-dark light-text" id="home-section-five">
  <div class="row" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/bag_whole.jpg?v=1582578647') no-repeat bottom left; background-size: 110%;">
    <div class="col-lg-4 col-lg-offset-7 col-md-4 col-md-offset-7 col-sm-5 col-sm-offset-6 col-xs-10 col-xs-offset-1 spacing-top-and-bottom-xxl">
      <p class="subtitle color-orange">RECORD YOUR TRAININGS</p>
      <p class="ninety">Track.</p>
      <p class="ninety"><span class="color-orange">Record.</span></p>
      <p class="ninety">Share.</p>
      <p>Record your reps or check your form with Netix built-in mobile pocket that holds any phone, including the iPhone XS Max —one of the largest on the market. Stick your bag to a rig or rack, hit record and go. With full-screen access, you can record your entire workout, then click to save, share or post.</p>
      <div class="button-wrapper">
        <a href="/pages/get-on-the-list" target="_self" class="regular-button orange">
          <div class="inner-wrapper">
            <span class="text">get the bag</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-12 mobile-xs-only">
      <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/mobile_backpack_2.jpg?v=1582939209" alt="backpack">
    </div>
  </div>
</section>

<section class="bg-gray spacing-top-and-bottom-md" id="home-section-six">
  <div class="row">
    <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-0 col-xs-1 col-xs-offset-0 arrow-column">
      <a href="#" class="arrow prev disabled-arrow">
        {% include  'icon-left-arrow-dark' %}
      </a>
    </div>
    <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 slider-column">
      <ul class="slider-single" id="slider-single">
        <li class="active">
          <h4>“As both a gym owner and professional athlete, I really appreciate how NETIX keeps your gym gear close by, without cluttering-up a training space. The added convenience of both the built in mobile pocket, and easy storage accessibility, makes this bag stand above the normal gym bags of yesterday.”</h4>
          <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/avatar.png?v=1582736073" alt="Gabriel Peña">
          <p class="x-large">Gabriel Peña</p>
          <p class="subtitle">Professional Strongman & Gym Owner</p>
          <a href="https://www.instagram.com/daskinggabe/?hl=en" target="_blank" class="instagram-icon dark">
            {% include 'icon-instagram' %}
          </a>
        </li>
        <li>
          <h4>"As a bodybuilder, Netix is something that I have never seen before. After 8 years of working out, I have finally found the perfect bag! I love that I don’t have to leave my gym bag on the floor anymore or be hassled of bending over every time I need to grab something. Netix is perfect for recording my workouts, capturing pictures, and easily accessing my music!"</h4>
            <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/Amanda_Ochoa.png?v=1583159555" alt="Amanda Ochoa">
            <p class="x-large">Amanda Ochoa</p>
            <p class="subtitle">Bodybuilder/Business Owner</p>
            <a href="https://www.instagram.com/amanda_fitlee/?hl=en" target="_blank" class="instagram-icon dark">
              {% include 'icon-instagram' %}
            </a>
        </li>
        <li>
          <h4>“Netix has helped me tremendously! Not only does it help me with my workouts but also helps when training clients. Netix is great because you can complete a full WOD or HIIT workout without looking down at your phone and always know exactly where your things are."</h4>
            <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/Michael_Williams.png?v=1583159755" alt="Michael Williams">
            <p class="x-large">Michael Williams</p>
            <p class="subtitle">Personal Trainer/Owner of MW Fitness</p>
            <a href="https://www.instagram.com/michael_joesph/?hl=en" target="_blank" class="instagram-icon dark">
              {% include 'icon-instagram' %}
            </a>
        </li>
      </ul>
      
    </div>
    <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1 right-arrow-column arrow-column">
      <a href="#" class="arrow next">
        {% include  'icon-right-arrow-dark' %}
      </a>
    </div>
  </div>
</section>

<section class="bg-dark spacing-top-and-bottom-lg light-text cta-one" id="home-section-seven">
  <div class="absolute-background" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/cta_bg.jpg?v=1582568899') no-repeat center center; background-size: cover;"></div>
  <div class="row center-xs">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
      <p class="hero-copy">Get</p>
      <p class="hero-copy">the bag</p>
      <p>free u.s. shipping</p>
      <div class="button-wrapper center-xs">
        <a href="/pages/get-on-the-list" target="_self" class="regular-button orange">
          <div class="inner-wrapper">
            <span class="text">get on the list</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bws-modal video-modal" id="demo-video">
  <div class="row end-xs">
    <a href="#" class="close-modal">
      {% include 'icon-close-light' %}
    </a>
  </div>
  <div class="row center-xs content">
    <div class="col-xs-10 iframe-wrapper" data-youtube="https://www.youtube.com/embed/GPQcVwTGQm0">
      
    </div>
  </div>
</section>