<section class="bg-dark light-text" id="home-section-one">
  <div class="absolute-background" style="background:url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/home_hero.jpg?v=1582316213') no-repeat center center; background-size: cover;"></div></div>
  <div class="row spacing-top-lg spacing-bottom-sm">
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1">
      <p class="hero-copy">the only</p>
    </div>
    <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
      <p class="hero-copy">gym bag</p>
    </div>
    <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2 changing-text">
      <p class="hero-copy">that </p>
      <p class="hero-copy color-orange">powers ahead</p>
    </div>
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1">
      <div class="row middle-xs bottom-home">
        <div class="col-lg-2 col-md-2 colsm-2 col-xs-2 center-xs">
          <img src="{{ 'logo-indie-gogo-light.png' | asset_url }}" alt="indie gogo logo">
          <p class="subtitle">Be the first to buy</p>
        </div>
        <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
          <div class="button-wrapper">
            <a href="#" class="bws-button circle-button video-button white">
              <div class="inner-circle">
                {% include 'icon-play' %}
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-3">
          <p class="subtitle">scroll to explore</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark light-text spacing-top-md" id="home-section-two">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
      <h2>A <span class="color-orange">MAGNETIC GYM BAG</span> DESIGNED BY ATHLETES, FOR ATHLETES. NOW YOU CAN FOCUS ON GAINS, NOT GEAR.</h2>
    </div>
    <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
      <div class="button-wrapper">
        <a href="#" class="bws-button circle-button orange">
          <div class="inner-circle">
            <div class="text">get on the list</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row spacing-top-s bg-gray-behind">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/bag_tan-01.jpg?v=1582568898" alt="netix bag on guy">
    </div>
    <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="mr-col-1">
        <h4>WHAT GOES WITH YOU TO THE GYM, SHOULD STAY WITH YOU AT THE GYM.</h4>
        <p>With Netix, your bag sticks with you for your entire workout. Anchored by rugged, sweat-resistant 500D Cordura material and neodymium magnets, Netix secures to metal fitness equipment instantly. Your gear stays with you from start to finish, ensuring you’ve always got what you need—and ensuring your bag stays safe and secure. </p>
      </div>  
      <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/magnetic_bag_elliptical.jpg?v=1582568898" alt="bag magneted to an ellipitcal">
    </div>
  </div>
</section>

<section class="bg-gray spacing-bottom-md" id="home-section-three">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      {% include 'icon-quotes-orange' %}
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <p class="hero-copy dark-text">NETIX KNOW WHAT IT TAKES</p> 
    </div>
  </div>
</section>

<section class="counter-section" id="home-section-four">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/close_up_1.jpg?v=1582568898') no-repeat center center; background-size: cover;"></div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-1 spacing-top-and-bottom-sm">
      <p class="count">
        <span class="current"></span>
        <span>-</span>
        <span class="total"></span>
      </p>
      <h3>RUGGED, SWEAT-RESISTANT 500D CORDURA MATERIAL</h3>
      <p>Cordura fabrics stand up to the elements--including your no-holds-barred workout. Strong, versatile and built to last, nothing is taking your Netix down--not sweat, not steam and not even a rogue barbell.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-1 spacing-top-and-bottom-sm">
      <p class="count">
        <span class="current"></span>
        <span>-</span>
        <span class="total"></span>
      </p>
      <h3>ULTRA STRONG NEODYMIUM MAGNETS</h3>
      <p>With Netix, your bag sticks with you for your entire workout. With rugged, sweat-resistant 500D Cordura material and neodymium magnets, Netix secures to metal fitness equipment instantly. Your gear stays with you from start to finish, ensuring you’ve always got what you need—and ensuring it stays safe and secure.</p>
    </div>
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12 col-xs-offset-0" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/close_up_2.jpg?v=1582568898') no-repeat center center; background-size: cover;"></div>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/close_up_3.jpg?v=1582568899') no-repeat center center; background-size: cover;"></div>
      <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-1 spacing-top-and-bottom-sm">
        <p class="count">
          <span class="current"></span>
          <span>-</span>
          <span class="total"></span>
        </p>
        <h3>BUILT-IN MOBILE POCKET FOR QUICK-TAP ACCESS</h3>
        <p>CThe big set demands the right beats. With Netix, it’s easy to stream music or video to keep you powering through while ensuring the screen never slips out of view. Netix mobile pocket is touch-sensitive, making it easy to scroll through playlists and advance videos with a quick tap.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-1 spacing-top-and-bottom-sm">
      <p class="count">
        <span class="current"></span>
        <span>-</span>
        <span class="total"></span>
      </p>
      <h3>STORE ALL OF YOUR STUFF</h3>
      <p>Water bottles, headphones, yoga mats, foam rollers—it's all got a place in your bag. With an oversized, flat-bottom pouch, flexible mesh siding and stow and go straps that extend and affix, everything you need is always within reach.</p>
    </div>
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12 col-xs-offset-0" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/close_up_4.jpg?v=1582568898') no-repeat center center; background-size: cover;"></div>
  </div>
</section>

<section class="bg-dark light-text" id="home-section-five">
  <div class="row" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/bag_whole.jpg?v=1582578647') no-repeat bottom left; background-size: contain">
    <!-- <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1 image-align-bottom">
      <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/bag_solo.jpg?v=1582575856" alt="netix bag">
      <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/bag_solo_2.jpg?v=1582578309" alt="netix bag">
    </div> -->
    <div class="col-lg-4 col-lg-offset-6 col-md-4 col-md-offset-6 col-sm-4 col-sm-offset-6 col-xs-5 col-xs-offset-1 spacing-top-and-bottom-sm">
      <p class="subtitle color-orange">RECORD YOUR TRAININGS</p>
      <p class="ninety">Track.</p>
      <p class="ninety">Record.</p>
      <p class="ninety">Share.</p>
      <p>Record your reps or check your form with Netix built-in mobile pocket that holds any phone, including the iPhone XS Max —one of the largest on the market. Stick your bag to a rig or rack, hit record and go. With full-screen access, you can record your entire workout, then click to save, share or post.</p>
      <div class="button-wrapper">
        <a href="#" class="regular-button orange">
          <div class="inner-wrapper">
            <span class="text">get on the list</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- <section class="bg-gray spacing-top-and-bottom-md" id="home-section-five"> -->
<section class="bg-gray" id="home-section-five">
  <div class="row">

  </div>
</section>

<section class="bg-dark spacing-top-and-bottom-lg light-text cta-one" id="home-section-six">
  <div class="absolute-background" style="background: url('https://cdn.shopify.com/s/files/1/0333/5084/4552/files/cta_bg.jpg?v=1582568899') no-repeat center center; background-size: cover;"></div>
  <div class="row center-xs">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
      <p class="hero-copy">Get</p>
      <p class="hero-copy">the bag</p>
      <p>free u.s. shipping</p>
      <div class="button-wrapper center-xs">
        <a href="#" class="regular-button orange">
          <div class="inner-wrapper">
            <span class="text">get on the list</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>