<?xml version="1.0" encoding="UTF-8"?>
<svg width="31px" height="28px" viewBox="0 0 31 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
    <title>Path 2 Copy</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="lp-4" transform="translate(-176.000000, -7471.000000)" stroke="#21201F" stroke-width="2">
            <g id="quote" transform="translate(0.000000, 7177.000000)">
                <g id="arrow" transform="translate(177.000000, 296.000000)">
                    <polygon id="Path-2-Copy" transform="translate(14.500000, 12.000000) rotate(-270.000000) translate(-14.500000, -12.000000) " points="11.2838943 -2 11.2838943 12.6030083 3 12.6030083 14.5 26 26 12.6030083 17.7161057 12.6030083 17.7161057 -2"></polygon>
                </g>
            </g>
        </g>
    </g>
</svg>