<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="33px" viewBox="0 0 32 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
    <title>Path-5-path 2</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="about" transform="translate(-822.000000, -1755.000000)" fill="#FA4824">
            <g id="join" transform="translate(0.000000, 1421.000000)">
                <g id="email" transform="translate(822.000000, 327.000000)">
                    <path d="M31.817546,7 L31.817546,13.3461538 L19.9483047,13.3461538 L19.9483047,13.3715385 L15.908773,13.3715385 C10.5726015,13.3715385 6.23384522,17.7884615 6.23384522,23.2461538 C6.23384522,28.7038462 10.5726015,33.1207692 15.908773,33.1207692 L31.817546,33.1207692 L31.817546,39.4669231 L19.9483047,39.4669231 L19.9483047,39.4923077 L15.908773,39.4923077 C7.13151893,39.4923077 -1.86517468e-13,32.2069231 -1.86517468e-13,23.2207692 C-1.86517468e-13,14.2346154 7.10658355,7 15.908773,7 L31.817546,7 Z M30.8201308,34.1615385 L20.8459784,34.1615385 L20.8459784,38.4769231 L30.8201308,38.4769231 L30.8201308,34.1615385 Z M19.9732401,20.0730769 L19.9732401,26.4446154 L15.908773,26.4446154 C14.1882317,26.4446154 12.7918504,25.0230769 12.7918504,23.2461538 C12.7918504,21.4692308 14.1882317,20.0730769 15.908773,20.0730769 L19.9732401,20.0730769 Z M30.8201308,8.01538462 L20.8459784,8.01538462 L20.8459784,12.3307692 L30.8201308,12.3307692 L30.8201308,8.01538462 Z" id="Path-5-path-2"></path>
                </g>
            </g>
        </g>
    </g>
</svg>