#shopify-section-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;

  @include transition(400ms all $cubic);

  #main-navigation {
    // @include transform(translate(0px, -15px));
    @include transition(400ms all $cubic);
  }
}

header .navigation-menu ul {
  list-style: none;
  padding-left: 0;

  a {
    text-transform: uppercase;
    color: $color-white;
    font-size: 0.75em;
    font-weight: 700;

    &.cta-link {
      border: 1px solid $color-white;
      border-radius: 30px;
      font-size: 0.875em;
      padding: 21.5px 30px;
    }
  }
}

#header-section-one .row {
  padding-top: 30px;
}

#main-navigation {
  margin-right: 16.333%;
}

#shopify-section-header.sticky {
  background: $color-dark;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.05);

  #main-navigation {
    @include transform(translate(0px, -15px));
  }
}