html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.d-flex {
  @include flexbox();
}
/* -------------------
Color Realted
------------------- */
.light-text .color-orange,
.color-orange {
  color: $color-orange;
}

.bg-dark {
  background: $color-dark;
}

.bg-gray {
  background: $color-gray;
}

.bg-gray-behind {
  position: relative;
  z-index: 1;

  &::before {
    background: $color-gray;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

main img {
  width: 100%;
  display: block;
}

.image-align-bottom {
  @include flexbox();
  @include justify-content(flex-end);
  @include align-items(flex-end);
}

/* -------------------
Spacings
------------------- */
.spacing-top-xxl {
  padding-top: 256px;
}

.spacing-bottom-xxl {
  padding-bottom: 256px;
}

.spacing-top-and-bottom-xxl {
  padding-top: 256px;
  padding-bottom: 256px;
}

.spacing-top-xl {
  padding-top: 208px;
}

.spacing-bottom-xl {
  padding-bottom: 208px;
}

.spacing-top-and-bottom-xl {
  padding-top: 208px;
  padding-bottom: 208px;
}

.spacing-top-lg {
  padding-top: 172px;
}

.spacing-bottom-lg {
  padding-bottom: 172px;
}

.spacing-top-and-bottom-lg {
  padding-top: 172px;
  padding-bottom: 172px;
}

.spacing-top-md {
  padding-top: 150px;
}

.spacing-bottom-md {
  padding-bottom: 150px;
}

.spacing-top-and-bottom-md {
  padding-top: 150px;
  padding-bottom: 150px;
}

.spacing-top-sm {
  padding-top: 116px;
}

.spacing-bottom-sm {
  padding-bottom: 116px;
}

.spacing-top-and-bottom-sm {
  padding-top: 116px;
  padding-bottom: 116px;
}

.spacing-top-s {
  padding-top: 30px;
}

.spacing-bottom-s {
  padding-bottom: 30px;
}

.spacing-top-and-bottom-s {
  padding-top: 30px;
  padding-bottom: 30px;
}

// Custom Margins
.mr-col-1 {
  margin-right: 8.333%;
}

footer {
  #footer-section-one {
    padding-top: 100px;
    padding-bottom: 61px;

    .subtitle.with-border {
      padding-bottom: 28.5px;
      margin-bottom: 22px;
      border-bottom: 1px solid $color-dark;
    }
  }

  .contact-information {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 0;

    p {
      margin: 0;
    }

    li:first-of-type p:first-of-type {
      margin-bottom: 5px;
    }

    li:nth-of-type(2) {
      margin-top: 30px;

      .subtitle {
        margin-bottom: 20px;
      }
    }
  }

  #subfooter {
    .row {
      position: relative;
      margin-top: 30px;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: $color-dark;
        left: 0;
        right: 0;
        top: -30px;
      }
    }

    p {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }

  .regular-menu {
    margin-top: 0;
    margin-bottom: 0;
    
  }

  .logo-list li:first-of-type {
    max-width: 100px;
  }
}


.logo-list,
.regular-menu {
  @include justify-content(flex-start);

  li {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.social-icons,
.logo-list,
.regular-menu {
  list-style: none;
  padding-left: 0;

  @include flexbox();
  @include align-items(center);
  @include flex-direction(row);
}

.social-icons {
  @include justify-content(flex-end);

  li {
    width: 60px;
    border: 1px solid $color-dark;
    border-radius: 50%;
    height: 60px;

    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    // @include flex-direction(row);
  }

  li {
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  svg path {
    fill: $color-dark;
  }
}

// Modals
.bws-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background: rgba(23, 23, 22, 0.7);
  opacity: 0;
  pointer-events: none;
    
  @include transform(translate(0, -50px));
  // @include transform(translate(0px, 0px) skew(10deg, 10deg));

  .close-modal {
    padding: 30px;
    opacity: 0;
    
    @include transform(translate(0, -50px));
    // @include transform(translate(0px, 0px) skew(10deg, 10deg));

    svg {
      pointer-events: none;
    }
  }

  .content {
    // padding: 50px 0;
    opacity: 0;

    @include transform(translate(0, -50px));
    // @include transform(translate(0px, 0px) skew(10deg, 10deg));
  }

  &.active {
    pointer-events: all;
  }
}

section video {
  position: relative;
  width: 100%;
}

.no-overflow {
  overflow: hidden;
}

@media all and (min-width: 1025px) {
  .bws-modal.video-modal {
    video {
      width: 80vw;
      // height: 80vh;
      height: auto;
    }

    .content {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
    }
  }
}