html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

main,
footer,
body {
  overflow-x: hidden;
}

.d-flex {
  @include flexbox();
}
/* -------------------
Color Realted
------------------- */
.light-text .color-orange,
.color-orange {
  color: $color-orange;
}

.bg-dark {
  background: $color-dark;
}

.bg-gray {
  background: $color-gray;
}

.bg-gray-behind {
  position: relative;
  z-index: 1;

  &::before {
    background: $color-gray;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

main img {
  width: 100%;
  display: block;
}

.image-align-bottom {
  @include flexbox();
  @include justify-content(flex-end);
  @include align-items(flex-end);
}

/* -------------------
Spacings
------------------- */
.spacing-top-xxl {
  padding-top: 256px;
}

.spacing-bottom-xxl {
  padding-bottom: 256px;
}

.spacing-top-and-bottom-xxl {
  padding-top: 256px;
  padding-bottom: 256px;
}

.spacing-top-xl {
  padding-top: 200px;
}

.spacing-bottom-xl {
  padding-bottom: 200px;
}

.spacing-top-and-bottom-xl {
  padding-top: 200px;
  padding-bottom: 200px;
}

.spacing-top-lg {
  padding-top: 172px;
}

.spacing-bottom-lg {
  padding-bottom: 172px;
}

.spacing-top-and-bottom-lg {
  padding-top: 172px;
  padding-bottom: 172px;
}

.spacing-top-md {
  padding-top: 150px;
}

.spacing-bottom-md {
  padding-bottom: 150px;
}

.spacing-top-and-bottom-md {
  padding-top: 150px;
  padding-bottom: 150px;
}

.spacing-top-sm {
  padding-top: 116px;
}

.spacing-bottom-sm {
  padding-bottom: 116px;
}

.spacing-top-and-bottom-sm {
  padding-top: 116px;
  padding-bottom: 116px;
}

.spacing-top-s {
  padding-top: 30px;
}

.spacing-bottom-s {
  padding-bottom: 30px;
}

.spacing-top-and-bottom-s {
  padding-top: 30px;
  padding-bottom: 30px;
}

// Custom Margins
.mr-col-1 {
  margin-right: 8.333%;
}

footer {
  #footer-section-one {
    padding-top: 100px;
    padding-bottom: 61px;

    .subtitle.with-border {
      padding-bottom: 28.5px;
      margin-bottom: 22px;
      border-bottom: 1px solid $color-dark;
    }
  }

  .contact-information {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 0;

    p {
      margin: 0;
      font-family: $age;
      font-weight: 500;
    }

    a {
      font-family: $hnpr;
    }

    li:first-of-type p:first-of-type {
      margin-bottom: 5px;
    }

    li:nth-of-type(2) {
      margin-top: 30px;

      .subtitle {
        margin-bottom: 20px;
      }
    }
  }

  #subfooter {
    .row {
      position: relative;
      margin-top: 30px;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: $color-dark;
        left: 0;
        right: 0;
        top: -30px;
      }
    }

    p {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }

  .regular-menu {
    margin-top: 0;
    margin-bottom: 0;

    a {
      font-family: $hnpr;
    }
    
  }

  .logo-list {
    li:first-of-type {
      max-width: 100px;
    }

    img {
      max-width: 100px;
    }
  }
}


.logo-list,
.regular-menu {
  @include justify-content(flex-start);

  li {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.social-icons,
.logo-list,
.regular-menu {
  list-style: none;
  padding-left: 0;

  @include flexbox();
  @include align-items(center);
  @include flex-direction(row);
}

.social-icons {
  @include justify-content(flex-end);

  li {
    max-width: 60px;
    width: 100%;
    border: 1px solid $color-dark;
    border-radius: 50%;
    max-height: 60px;
    height: auto;

    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    // @include flex-direction(row);
  }

  li {
    margin-right: 2vw;

    &.icon-facebook a {
      padding: 30px;

      svg {
        position: relative;
        top: 2px;
      }
    }

    &.icon-instagram svg,
    &.icon-twitter svg {
      position: relative;
      top: -2px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    a {
      padding: 20px;
    }

    &:hover {
      background: $color-dark;

      svg path {
        fill: $color-white;
      }
    }
  }

  svg,
  li {
    @include transition(400ms all $cubic);
  }

  svg path {
    fill: $color-dark;
  }
}

// Modals
.bws-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background: rgba(23, 23, 22, 0.7);
  opacity: 0;
  pointer-events: none;
    
  @include transform(translate(0, -50px));
  // @include transform(translate(0px, 0px) skew(10deg, 10deg));

  .close-modal {
    padding: 30px;
    opacity: 0;
    
    @include transform(translate(0, -50px));
    // @include transform(translate(0px, 0px) skew(10deg, 10deg));

    svg {
      pointer-events: none;
    }
  }

  .content {
    // padding: 50px 0;
    opacity: 0;

    @include transform(translate(0, -50px));
    // @include transform(translate(0px, 0px) skew(10deg, 10deg));
  }

  &.active {
    pointer-events: all;
  }
}

section video {
  position: relative;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.no-overflow {
  overflow: hidden;
}

// BWS Single Slider
.slider-single {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-start);
  
  li {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);

    h4 {
      text-align: center;
      font-family: $hnpr;
      text-transform: none;
      font-style: italic;
      margin-bottom: 32px;
      line-height: 1.33em;
    }

    img {
      max-width: 90px;
    }

    h4,
    p {
      font-weight: 500;
    }

    .x-large {
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .subtitle {
      font-weight: 500;
      text-transform: none;
      font-family: $hnpr;
    }
  }
}

.arrow-column {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

.slider-column[class^=col-] {
  padding-left: 0;
  padding-right: 0;
}

.arrow {
  position: relative;
  z-index: 2;

  @include transition(400ms all $cubic);

  svg {
    pointer-events: none;
  }

  &.disabled-arrow {
    opacity: 0.3;
    pointer-events: none;
  }

  &.prev:hover {
    @include transform(translate(-5px, 0));
  }

  &.next:hover {
    @include transform(translate(5px, 0));
  }
}

// Hide nav links
body {
  &#privacy-policy,
  &#terms-and-conditions {
    header nav.navigation-menu {
      display: none;
      visibility: hidden;
    }
  }
}

.show-sm-below,
.mobile-sm-only,
.mobile-xs-only {
  display: none;
  visibility: hidden;
}

@media all and (min-width: 1025px) {
  .bws-modal.video-modal {
    video {
      width: 80vw;
      // height: 80vh;
      height: auto;
    }

    .content {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
    }
  }
}

@media screen and (max-width: 1024px) {
  .show-sm-below {
    @include flexbox();

    visibility: visible;
  }

  body .remove-sm-below {
    display: none;
    visibility: hidden;
  }
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
  .spacing-top-md {
    padding-top: 80px;
  }

  .spacing-bottom-md {
    padding-bottom: 80px;
  }
  
  .spacing-top-and-bottom-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #footer-section-one {
    > .row:first-of-type [class^=col-]:nth-of-type(2) {
      order: 3;
      margin-top: 40px;
      margin-bottom: 60px;
    }

    #subfooter {
      .social-icons,
      .logo-list {
        @include justify-content(center);
      }

      .social-icons {
        margin-bottom: 40px;
      }
    }
  }

  .spacing-top-and-bottom-xxl {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .spacing-top-xxl {
    padding-top: 130px;
  }

  .spacing-bottom-xxl {
    padding-bottom: 130px;
  }

  .spacing-top-and-bottom-xl {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .spacing-top-xl {
    padding-top: 100px;
  }

  .spacing-bottom-xl {
    padding-bottom: 100px;
  }
} // End 1024 Max and 769 min

@media screen and (min-width: 769px) {
  .mr-col-3 {
    margin-right: 24.333%;
  }
}

@media screen and (max-width: 768px) {
  .spacing-top-lg {
    padding-top: 146px;
  }

  .spacing-bottom-lg {
    padding-bottom: 146px;
  }

  .spacing-top-and-bottom-lg {
    padding-top: 146px;
    padding-bottom: 146px;
  }

  .spacing-top-md {
    padding-top: 80px;
  }

  .spacing-bottom-md {
    padding-bottom: 80px;
  }

  .spacing-top-and-bottom-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .spacing-top-and-bottom-xxl {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .spacing-top-xxl {
    padding-top: 100px;
  }

  .spacing-bottom-xxl {
    padding-bottom: 100px;
  }

  .ml-col-1-xs {
    margin-left: 8.3333%;
  }

  .spacing-top-and-bottom-xl {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .spacing-top-xl {
    padding-top: 80px;
  }

  .spacing-bottom-xl {
    padding-bottom: 80px;
  }
  

  .mobile-xs-only {
    @include flexbox();

    visibility: visible;
  }

  body .remove-xs-only {
    display: none;
    visibility: hidden;
  }

  footer {
    #footer-section-one {
      padding-top: 0;

      .subtitle {
        margin-top: 61px;
      }
    }

    #subfooter {
      padding-top: 44px;
      text-align: center;

      .social-icons,
      .regular-menu,
      .logo-list {
        @include justify-content(center);
      }

      .social-icons {
        padding: 40px 0; 
      }

      .logo-list {
        padding-bottom: 33px;
      }
    }
  }
} // End 768