.hero-copy {
  // font-size: 9vw;
  // line-height: 9vw;
  font-size: 7vw;
  line-height: 7vw;
  text-transform: uppercase;
  color: $color-white;
  font-family: $age;
  font-weight: 500;
  margin: 0;

  &.dark-text {
    color: $color-dark;
  }
}

body#get-on-the-list {
  #shopify-section-header {
    display: none;
    visibility: hidden;
  }

  .subpage-close {
    position: relative;
  }
}

#home-section-one {
  overflow: hidden;

  .hero-copy.bottom {
    padding-left: 14.333%;
  }

  .row {
    position: relative;
    z-index: 1;
  }

  .absolute-background {
    width: 120vw;
    height: 100vh;
    // opacity: 0.5;
  }

  .subtitle {
    font-weight: 700;
  }

  img {
    max-width: 100px;
    opacity: 0.5;
    margin: auto;
  }

  .bottom-home {
    [class^=col-] {
      position: relative;
    }

    img + .subtitle {
      margin-top: 10px;
    }
  }

  .button-wrapper {
    // bottom: 100%;
    // bottom: 60%;
    position: absolute;
    // left: 60%;
    bottom: -20px;
    position: absolute;
    left: 10%;
  }
}

.absolute-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 0;
}

.changing-text {
  @include flexbox();
  @include justify-content(space-between);

  .hero-copy:first-of-type {
    padding-right: 3vw;
  }
}

#home-section-two {
  overflow: hidden;
  position: relative;

  .mr-col-3 + img {
    margin-top: 65px;
  }

  .bg-gray-behind::before {
    // top: 50%;
    top: 66%;
  }

  .adjust-offset[class^=col-] {
    margin-left: 12.333%;
  }
}

#home-section-three .hero-copy {
  font-weight: 500;
}

.counter-section {
  counter-reset: row-item;

  .row {
    counter-increment: row-item-2;
    
    .count {
      position: relative;

      span {
        position: relative;
        font-size: 1em;
        text-transform: uppercase;
        color: $color-orange;
        font-family: $age;
        font-weight: 500;
      }

      .current::before {
        counter-increment: row-item;  
        // position: absolute;
        display: inline-flex;
        
        content: "0" counter(row-item);
      }
    }
  }
}

#home-section-five {
  .ninety:not(:last-of-type) {
    margin-bottom: 0;
  }

  .row {
    background-size: 90%;
  }

  .ninety {
    line-height: 1em;
    font-weight: 500;
  }

  p:not(.ninety) {
    margin-top: 22px;
    margin-bottom: 42px;
  }

  .subtitle {
    font-weight: 500;
    margin-bottom: 30px;
  }

  .image-align-bottom img {
    opacity: 0.8;
    background-blend-mode: multiply;
  }
}

// Cta one
.cta-one {
  position: relative;

  .absolute-background {
    z-index: 0;
    opacity: 0.3;
  }

  .row {
    position: relative;
    z-index: 1;
  }

  .hero-copy {
    font-weight: 500;
  }

  p {
    text-transform: uppercase;

    &:not(.hero-copy) {
      margin-top: 18px;
      margin-bottom: 25px;
      font-family: $hnpr;
    }
  }
}

#list-section-one {
  min-height: 100vh;

  h3 {
    text-transform: none;
    font-size: 2.5em;
    line-height: 1.275em;
  }

  .message p {
    margin-bottom: 35px;
  }
}

// About
#about-section-one {
  padding-bottom: 34vw;

  .row:first-of-type {
    // position: relative;
    z-index: 2;

    [class^=col-] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .content-wrap {
    position: relative;
    padding-bottom: 100%;
  }

  .hero-copy {
    color: $color-dark;
  }

  [class^=col-] {
    position: relative;
  }

  .hero-copy.bottom {
    padding-bottom: 68px;
    left: -5px;
    position: relative;
  }

  .about-hero-text-row {
    // position: absolute;
    position: relative;
    height: 0;
  }

  .about-hero-image {
    position: relative;
    // top: 6vw;
    padding-top: 8vw;
    top: 7vw;

    .button-wrapper,
    .button-wrapper .circle-button.video-button {
      max-width: 160px;
    }

    .button-wrapper {
      margin: auto;
      position: absolute;
      // top: 85%;
      bottom: -8%;
      left: 0;
      right: 0;

      .circle-button.video-button {
        padding: 50.8%;
      }
    }

    [class^=col-]:last-of-type {
      top: 24vw;
    }
  }

  // .wrap {
  //   position: absolute;
  //   left: -71.333%;
  //   max-width: 70.666667%;
  //   top: 1vw;
  //   width: 100%;
  // }

  .xx-large {
    margin-bottom: 30px;
  }

  .row:last-of-type p:last-of-type {
    margin-bottom: 0;
  }
}

#about-section-two {
  a {
    text-transform: none;
    font-size: 2.12vw;
    line-height: 3.12vw;

    &::before,
    &::after {
      height: 2px;
    }
  }

  h4 + svg {
    top: 12px;
    position: relative;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
  }

  p.share-text {
    font-size: 6.7vw;
    line-height: 7vw;
    font-family: $age;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

#legal-section-one {
  .hero-copy {
    max-width: 95%;
    margin-bottom: 19px;
  }

  .xx-large {
    padding-bottom: 79px;
    margin-bottom: 55px;
    border-bottom: 1px solid $color-dark;
  }
}

.legal-content {
  padding-bottom: 112px;

  .double-line-hover {
    font-family: $hnpr;
  }

  ul li,
  ol li,
  p {
    font-size: 1.25em;
    font-family: $hnpr;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 29px;
  }

  ol + h4,
  ul + h4 {
    margin-top: 60px;
  }

  ol + h4,
  ul + h4,
  p + h4 {
    padding-top: 57px;
    margin-top: 60px;

    &::before {
      position: absolute;
      content: "";
      background: $color-dark;
      width: 200%;
      height: 1px;
      top: 0;
      left: 0;
      right: 0;
    }
    
  }

  h4 {
    margin-bottom: 39px;
    max-width: 50%;
    position: relative;
  }

  .row > h4:first-of-type::before {
    background: transparent;
  }

  ol {
    padding-left: 0;
    list-style: none;
    counter-reset: ol-item;
    margin-bottom: 30px;
    margin-top: 0;

    li {
      position: relative;
      order: 3;

      margin-bottom: 0;

      p {
        margin-bottom: 0;
        line-height: 1.5em;
        font-size: 20px;
      }

      @include flexbox();

      &::before,
      &::after {
        font-size: 20px;
        font-family: $age;
        font-weight: 500;
        display: inline-block;
        position: relative;
      }

      &::before {
        counter-increment: ol-item;
        content: counter(ol-item);
        color: $color-dark;
        order: -1;
      }

      &::after {
        content: "/";
        padding-right: 15px;
        padding-left: 2px;
        color: $color-orange;
        order: -1;
      }
    }
  }
}

.subpage-close  {
  top: 0;
  right: 0;
  z-index: 8;
  position: absolute;

  svg {
    width: 30px;
    height: 30px;
  }
}

@media all and (min-width: 1024px) {
  #list-section-one {
    margin-bottom: 200px;
  }
} // End 1024 Min