.hero-copy {
  font-size: 7vw;
  line-height: 7vw;
  text-transform: uppercase;
  color: $color-white;
  font-family: $age;
  font-weight: 500;
  margin: 0;

  &.dark-text {
    color: $color-dark;
  }
}

body#get-on-the-list {
  #shopify-section-header {
    display: none;
    visibility: hidden;
  }

  .subpage-close {
    position: relative;
  }

  .form-row .regular-button {
    box-shadow: 0 15px 40px 0 rgba(250, 72, 36, 0.20);

    &:hover {
      background: $color-orange-hover;
      box-shadow: 0 15px 40px 0 rgba(250, 72, 36, 0.30);
    }
  }
}

body.template-page.page-terms-and-conditions,
body.template-page.page-privacy-policy {
  .bws-logo svg,
  a.back-button {
    @include transition(400ms all $cubic);
  }

  .bws-logo {
    position: relative;
  }

  .sticky .bws-logo svg {
    @include transform(translate(0, -8px));
  }
}

#home-section-one {
  overflow: hidden;
  overflow-x: hidden;

  .hero-copy.bottom {
    padding-left: 14.333%;
  }

  .row {
    position: relative;
    z-index: 1;
  }

  .absolute-background {
    width: 120vw;
    height: 100vh;
  }

  .subtitle {
    font-weight: 700;
  }

  img {
    max-width: 100px;
    opacity: 0.5;
    margin: auto;
  }

  .bottom-home {
    [class^=col-] {
      position: relative;
    }

    img + .subtitle {
      margin-top: 10px;
    }
  }
}

.absolute-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 0;
}

.changing-text {
  @include flexbox();
  @include justify-content(space-between);

  .hero-copy:first-of-type {
    padding-right: 3vw;
  }
}

#home-section-two {
  overflow: hidden;
  position: relative;

  .mr-col-3 + img {
    margin-top: 65px;
  }

  .bg-gray-behind::before {
    top: 66%;
  }
}

#home-section-three .hero-copy {
  font-weight: 500;
}

.counter-section {
  counter-reset: row-item;

  .row {
    counter-increment: row-item-2;
    
    .count {
      position: relative;

      span {
        position: relative;
        font-size: 1em;
        text-transform: uppercase;
        color: $color-orange;
        font-family: $age;
        font-weight: 500;
      }

      .current::before {
        counter-increment: row-item;  
        content: "0" counter(row-item);

        @include inline-flex();
      }
    }
  }
}

#home-section-five {
  .ninety:not(:last-of-type) {
    margin-bottom: 0;
  }

  .row {
    background-size: 90%;
  }

  .ninety {
    line-height: 1em;
    font-weight: 500;
  }

  p:not(.ninety) {
    margin-top: 22px;
    margin-bottom: 42px;
  }

  .subtitle {
    font-weight: 500;
    margin-bottom: 30px;
  }

  .image-align-bottom img {
    opacity: 0.8;
    background-blend-mode: multiply;
  }
}

// Cta one
.cta-one {
  position: relative;

  .absolute-background {
    z-index: 0;
    opacity: 0.3;
  }

  .row {
    position: relative;
    z-index: 1;
  }

  .hero-copy {
    font-weight: 500;
  }

  p {
    text-transform: uppercase;

    &:not(.hero-copy) {
      margin-top: 18px;
      margin-bottom: 25px;
      font-family: $hnpr;
    }
  }
}

#list-section-one {
  min-height: 100vh;

  .row:nth-of-type(2) {
    // min-height: calc(100vh - 90px);
    min-height: 100vh;
    top: -90px;
    position: relative;
    overflow: hidden;

    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }

  h3 {
    text-transform: none;
    font-size: 2.5em;
    line-height: 1.275em;
  }

  .message p {
    margin-bottom: 35px;
  }
}

// About
#about-section-one {
  padding-bottom: 34vw;

  .row:first-of-type {
    z-index: 2;

    [class^=col-] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .content-wrap {
    position: relative;
    padding-bottom: 100%;
  }

  .hero-copy {
    color: $color-dark;
  }

  [class^=col-] {
    position: relative;
  }

  .hero-copy.bottom {
    padding-bottom: 68px;
    left: -5px;
    position: relative;
  }

  .about-hero-text-row {
    position: relative;
    height: 0;
  }

  .about-hero-image {
    position: relative;
    padding-top: 8vw;
    top: 7vw;

    .button-wrapper,
    .button-wrapper .circle-button.video-button {
      max-width: 160px;
    }

    .button-wrapper {
      margin: auto;
      position: absolute;
      // top: 85%;
      bottom: -8%;
      left: 0;
      right: 0;

      .circle-button.video-button {
        padding: 50.8%;
      }
    }

    [class^=col-]:last-of-type {
      top: 24vw;
    }
  }

  .xx-large {
    margin-bottom: 30px;
  }

  .row:last-of-type p:last-of-type {
    margin-bottom: 0;
  }
}

#about-section-two {
  a {
    text-transform: none;
    font-size: 2.12vw;
    line-height: 3.12vw;

    &::before,
    &::after {
      height: 2px;
    }
  }
  h4 {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);

    svg {
      margin-right: 15px;
      position: relative;
      top: 0.5vw;
    }
  }

  h4 + svg {
    top: 12px;
    position: relative;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
  }

  p.share-text {
    font-size: 6.7vw;
    line-height: 7vw;
    font-family: $age;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

#legal-section-one {
  .hero-copy {
    max-width: 95%;
    margin-bottom: 19px;
  }

  .xx-large {
    padding-bottom: 79px;
    margin-bottom: 55px;
    border-bottom: 1px solid $color-dark;
  }
}

.legal-content {
  padding-bottom: 112px;

  .double-line-hover {
    font-family: $hnpr;
  }

  ul li,
  ol li,
  p {
    font-size: 1.25em;
    font-family: $hnpr;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 29px;
  }

  ol + h4,
  ul + h4 {
    margin-top: 60px;
  }

  ol + h4,
  ul + h4,
  p + h4 {
    padding-top: 57px;
    margin-top: 60px;

    &::before {
      position: absolute;
      content: "";
      background: $color-dark;
      width: 200%;
      height: 1px;
      top: 0;
      left: 0;
      right: 0;
    }
    
  }

  h4 {
    margin-bottom: 39px;
    max-width: 50%;
    position: relative;
  }

  .row > h4:first-of-type::before {
    background: transparent;
  }

  ol {
    padding-left: 0;
    list-style: none;
    counter-reset: ol-item;
    margin-bottom: 30px;
    margin-top: 0;

    li {
      position: relative;
      order: 3;

      margin-bottom: 0;

      p {
        margin-bottom: 0;
        line-height: 1.5em;
        font-size: 20px;
      }

      @include flexbox();

      &::before,
      &::after {
        font-size: 20px;
        font-family: $age;
        font-weight: 500;
        display: inline-block;
        position: relative;
      }

      &::before {
        counter-increment: ol-item;
        content: counter(ol-item);
        color: $color-dark;
        order: -1;
      }

      &::after {
        content: "/";
        padding-right: 15px;
        padding-left: 2px;
        color: $color-orange;
        order: -1;
      }
    }
  }
}

.subpage-close  {
  top: 0;
  right: 0;
  z-index: 8;
  position: absolute;

  svg {
    width: 30px;
    height: 30px;
  }
}

@media all and (min-width: 1025px) {
  body.template-page a.back-button {
    position: fixed;
    top: 0;
    right: 0;
  
    &.subpage-close-sticky {
      @include transform(translate(0, -10px));
    }
  }
}

@media all and (min-width: 1024px) {
  // #list-section-one {
  //   margin-bottom: 200px;
  // }

  #home-section-two {
    .adjust-offset[class^=col-] {
      margin-left: 12.333%;
    }
  }
} // End 1024 Min

@media screen and (max-width: 1024px) and (min-width: 769px) {
  #home-section-two .row:first-of-type {
    padding-bottom: 70px;
  }

  #home-section-four .spacing-top-and-bottom-sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #home-section-four {
    .image {
      padding-bottom: 70%;
    }
  }

  #home-section-five {
    .row {
      background-size: 145% !important;
      background-position: 54% 100% !important;
    }

    .ninety {
      font-size: 9vw;
      line-height: 9vw;
    }
  }

  #about-section-one {
    padding-bottom: 240px;
  }

  #about-section-two {
    p.share-text {
      font-size: 4.7vw;
      line-height: 5vw;
    }

    .icon-wrapper svg {
      width: 3vw;
      // top: 1vw;
      // position: relative;
    }
  }

  #home-section-three .hero-copy {
    font-size: 9vw;
    line-height: 9vw;
  }
} // End 1024 Max and 769 Min

@media screen and (max-width: 1024px) {
  #home-section-three .hero-copy {
    margin-top: 59px;
  }

  #home-section-four .row:nth-of-type(even) [class^=col-] {
    &:first-of-type {
      order: 2;
    }

    &:last-of-type {
      order: 1;
    }
  }

  #about-section-one .about-hero-image {
    [class^=col-]:last-of-type {
      top: 14vw;
    }

    .circle-button.video-button-2 .inner-circle-2 .animate-text svg {
      max-width: 100%;
      width: 100%;
    }

    #about-section-one .about-hero-image .button-wrapper {
      max-width: 30vw;
    }

    .button-wrapper {
      bottom: -15%;

      svg {
        width: 3vw;
        max-width: 24px;
      }
    }
  }

  #about-section-one .about-hero-image .button-wrapper {
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) {
  #home-section-one {
    .button-wrapper {
      position: absolute;
      bottom: -20px;
      position: absolute;
      left: 10%;
    }
  }
}

@media screen and (max-width: 768px) {
  #home-section-one {
    .bottom-home {
      [class^=col-] {
        &:first-of-type {
          order: 2;

          .subtitle {
            max-width: 100px;
            margin: 10px auto 44px;
          }
        }

        &:nth-of-type(2) {
          order: 1;
        }

        &:last-of-type {
          order: 3;
        }
      }
    }
    
    .button-wrapper {
      position: relative;
      top: -4px;
      margin-bottom: 50px;

      @include justify-content(center);
      @include align-items(center);
    }

    .spacing-bottom-sm {
      padding-bottom: 37px;
    }
  }

  #home-section-two .row {
    &:first-of-type {
      margin-bottom: 80px;
    }

    &.bg-gray-behind {
      h4 {
        margin-top: 75px;
        max-width: 65%;
      }

      p {
        margin-bottom: 77px;
      }

      .col-xs-10 img {
        margin-left: 24.333%;
      }
    }
  }

  #home-section-two .bg-gray-behind::before {
    top: 81%;
  }

  #home-section-three {
    .row [class^=col-]:first-of-type svg {
      top: -45%;
      position: relative;
      z-index: 2;
      max-width: 33.333%;
    }

    > .row:first-of-type  {
      max-height: 28vw;
    }

    .hero-copy {
      margin-top: 0;
      font-size: 12vw;
      line-height: 12vw;
    }

    &.spacing-bottom-md {
      padding-bottom: 99px;
    }
  }

  #home-section-four {
    .image {
      padding-bottom: 100%;

      &:first-of-type {
        background-position: left center !important;
      }
    }

    [class^=col-]:not(.image) {
      padding-top: 40px;
      padding-bottom: 70px;
    }
  }

  body #home-section-five .row {
    background: #000000 !important;

    [class^=col-] {
      text-align: center;

      .button-wrapper {
        @include justify-content(center);
        @include align-items(center);
      }
    }

    .spacing-top-and-bottom-xxl {
      padding-bottom: 0;
    }
  }

  #home-section-six .arrow svg {
    width: 18px;
  }

  .cta-one .hero-copy {
    font-size: 11vw;
    line-height: 11vw;
  }

  #about-section-one {
    padding-bottom: 90px;
  }

  #about-section-two {
    p.share-text {
      margin-bottom: 40px;
    }

    a {
      font-size: 3.12vw;
      line-height: 4.12vw;
    }

    .icon-wrapper svg {
      width: 5vw;
      top: 1.5vw;
      position: relative;
    }
  }

  #about-section-two {
    a {
      font-size: 4.12vw;
      line-height: 4.12vw;
    }

    h4 .icon-wrapper,
    h4 .icon-wrapper svg {
      top: 1vw;
      bottom: 0;

      @include inline-flex();
    }

    h4 .icon-wrapper {
      width: 5vw;
      height: 5.12vw;
      min-width: 32px;
      min-height: 33px;
    }

    h4 .icon-wrapper svg {
      max-width: 32px;
      max-height: 33px;
      width: 100%;
      height: 100%;
    }
  }

  #about-section-one {
    .about-hero-image {
      top: 0;
    }

    .hero-copy {
      font-size: 10vw;
      line-height: 10vw;
    }

    .about-hero-text-row {
      height: auto;
      padding-left: 0.5rem;
    }
  }

  #about-section-one {
    .about-hero-image .button-wrapper {
      position: relative;
      top: -13vw;
    }

    .hero-copy.bottom {
      padding-bottom: 0;
    }
  }

  #about-section-one .about-hero-image [class^=col-]:last-of-type {
    top: 0px;
  }

  #legal-section-one .xx-large {
    padding-bottom: 60px;
  }

  .legal-content {
    padding-bottom: 60px;
  }

  .arrow.next {
    padding-right: 18px;
  }
  .arrow.prev {
    padding-left: 18px;
  }

  .slider-single h4 {
    font-size: 20px;
  }
} // End 768 Max

@media screen and (max-width: 768px) and (min-width: 577px) {
  #about-section-two a {
    font-size: 4.12vw;
    line-height: 5.12vw;
    top: 1vw;
  }
}

@media screen and (max-width: 576px) {
  #about-section-two a {
    font-size: 5.12vw;
    line-height: 6.12vw;
  }

  .form-row.submit .regular-button {
    max-width: 85%;
  }
}